.logo {
  margin-top: 2%;
        background-image: url('../images/e-commerce.png');
        background-repeat: no-repeat;
        background-size: contain;
}

  a {
    color: inherit;
    text-decoration: none
  }
  
  .login-wrap {
    width: 100%;
    height: 90%;
    margin-top: 2%;
    border-radius: 1.5%;
    background-image: radial-gradient(closest-side ellipse at center, #ffc500, #e7695a);
    opacity: 0.9;
  }
  
  .login-html {
    width: 100%;
    height: 100%;
    padding: 40px 5% 30% 5%;
  }
  
  .login-html .tab {
    font-size: 18px;
    margin-left: 10%;
    display: inline-block;
    border-bottom: 2px solid transparent;
    color: rgb(243, 234, 234); 
  }
  
  .login-html .tab:hover {
    color: #90d8ec;
  }
  
  .login-html .sign-in:checked+.tab, .login-html .sign-up:checked+.tab {
    color: #2ec7db;
  }
  
  .login-form {
    min-height: 75%;
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
 
  .login-form .group .label, .login-form .group .login-form .group  {
    width: 100%;
    color: rgb(18, 25, 27);
    display: block;
  }
  
  .login-form .group, .login-form .group {
    border: none;
    border-radius: 10px;
    font-size: 20px;
  }
  
  .login-form .group input[data-type="password"] {
    -webkit-text-security: circle;
  }
  
  .login-form .group .label {
    font-size: 15px;
    font-weight: bolder;
  }
  
  .login-form .group {
    font-weight: bold;
    font-size: 20px;
    width: 80%;
    margin-left: 10%;
  }
  
  .login-html .sign-in:checked+.tab+.sign-up+.tab+.login-form .sign-in-htm {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  
  .hr {
    height: 3px;
    margin-top: 10px;
    background: rgba(170, 22, 22, 0.2);
  }
  
  h4 {
    color: rgb(144, 220, 230);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    text-decoration-line: underline;
  }
#image-login {
  width: 130px;
  cursor: pointer;
}

.input{
  color: white !important;
}

.button{
  margin-left: 30% !important;
  text-align: center;
}